<div>
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Skills" aria-label="Skills" [(ngModel)]="txtskills"
      aria-describedby="btnAddSkills">
    <div class="input-group-append">
      <button class="btn btn-outline-dark" type="button" (click)="addSkills()" id="btnAddSkills">Add Skills</button>
    </div>
  </div>

  <ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let skill of skills; index as i">
      {{ skill.skillName }}
      <span class="text-muted" style="color: #7f2092;">
        <!-- <i class="fas fa-close"></i> -->
        <i class="fas fa-trash-alt" (click)="removeSkill(i)"></i>
      </span>
    </li>
  </ul>
  <button type="submit" (click)="updateSkills()" class="btn btn-primary">Save</button>
</div>
