/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

.login_body{
	margin: 0;
	padding: 0;
	background: radial-gradient(#a429bc,#9225a7,#7f2092);
	height: 100vh;
	overflow: hidden;
	font-family: 'Noto Sans TC', sans-serif;
}

.container{
height: 100%;
align-content: center;
}

input[type=text] {
	width: 87%;
	padding: 5px;	
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	resize: vertical;
	outline: none;
  }

  input[type=password] {
	width: 87%;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	resize: vertical;
	outline: none;
  }

.card{
height: auto;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.center{
	width: 430px;
	margin: 130px auto;
	position: center;
}


.card-header h3{
color: white;
}
.card-footer a{
	color:  #FFC312;
	}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}