<!-- <h3>User Login</h3>
<form [formGroup]="loginForm" (ngSubmit)="onFormSubmit()">
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.email.errors }" placeholder="Enter email here"/>
        <div *ngIf="submitted && fval.email.errors" class="invalid-feedback">
            <div *ngIf="fval.email.errors.required">Email is required</div>
            <div *ngIf="fval.email.errors.email">Enter valid email address</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.password.errors }" placeholder="Enter password here" />
        <div *ngIf="submitted && fval.password.errors" class="invalid-feedback">
            <div *ngIf="fval.password.errors.required">Password is required</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Login
        </button>
        <a routerLink="/register" class="btn btn-link">Register</a>
    </div>
</form> -->
<div class="login_body">
  <div class="center">
    <div class="header">Login Form</div>
    
    <form [formGroup]="loginForm" (ngSubmit)="onFormSubmit()">
      <p  style ="color:red"[hidden]="pass"> Invalid username or password!</p>
      <input type="text" formControlName="email" [ngClass]="{ 'is-invalid': submitted && fval.email.errors }"
        placeholder="Email or Username">
      <i class="far fa-envelope"></i>
      <input id="pswrd" type="password" formControlName="password"
        [ngClass]="{ 'is-invalid': submitted && fval.password.errors }" placeholder="Password">
      <i class="fas fa-lock" onclick="show()"></i>
      <button type="submit" [disabled]="loading">
        <div class="fa-3x">
          <i *ngIf="loading" class="fas fa-circle-notch"></i></div>
        Sign in
      </button>
      <!-- <button class="btn btn-primary" type="submit" [disabled]="loading">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Sign in
      </button> -->
      <!-- <input type="submit" value="Sign in"> -->
      <a routerLink="/register">Register</a>
    </form>
  </div>
</div>
