.portfolio-header {
  background-color: #7f2092;
}
.border-tabs {
  border-left: #dee2e6;
  border-right: #dee2e6;
  border-bottom: #dee2e6;
  border-top: #ffffff;
  border-width: 1px;
  border-style: ridge;
}

