<div class="container">
  <div class="row">
    <div class="col-md-12">

    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <nav class="nav flex-column font-weight-bold">
        <a class="nav-link md text-uppercase" href="#personalInfo">Personal Info</a>
        <a class="nav-link md text-uppercase" href="#Skills">My Skills</a>
        <a class="nav-link md text-uppercase" href="#workInfo">Work Info</a>
        <a class="nav-link md text-uppercase" href="#Certification">Certifications</a>
        <a class="nav-link md text-uppercase" href="#Awards">Awards</a>
        <a class="nav-link md text-uppercase" href="#Languages">Languages</a>
      </nav>
    </div>
    <div class="col-md-10">
      <div id="personalInfo" class="mt-2">
        <div class="card">
          <div class="card-header lg bold bg-color-violet text-uppercase">
            Personal Information
            <a class="float-right bg-color-violet" data-toggle="modal" data-target="#modalPersonalInfo"><i
                class="fa fa-pencil-square-o xxlg bg-color-violet"></i></a>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-sm-3"><span class="xm lighter text-uppercase">Name</span></div>
                  <div class="col-sm-9"><span
                      class=" xlg bold long-content text-right">{{portfolio.firstName + ' ' + portfolio.lastName}}</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-3"><span class="xm lighter text-uppercase">Email</span></div>
                  <div class="col-sm-9"><span class="lg bold long-content text-right">{{portfolio.email}}</span></div>
                </div>
                <div class="row">
                  <div class="col-sm-3"><span class="xm lighter text-uppercase">Mobile</span></div>
                  <div class="col-sm-9"><span class="lg bold long-content text-right">{{portfolio.mobile}}</span></div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <span class="xm lighter text-uppercase">Short Description</span></div>
                <div class="row">
                  <span class="lg bold text-wrap">{{portfolio.shortDiscription}}</span></div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-sm-12">
                    <span class="xm lighter text-uppercase">Long Description</span></div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <span class="lg bold text-wrap">{{portfolio.longDiscription}}</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="Skills" class="mt-2">
        <div class="card">
          <div class="card-header lg bold bg-color-violet text-uppercase">
            My Skills
            <a class="float-right bg-color-violet" data-toggle="modal" data-target="#modalSkills"><i
                class="fa fa-pencil-square-o xxlg bg-color-violet"></i></a>
          </div>
          <div class="card-body" *ngIf="portfolio.skills?.length > 0">
            <div class="row">
              <div class="col-sm-12">
                <span *ngFor="let skill of portfolio.skills" class="badge badge-info m-1">{{skill.skillName}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="workInfo" class="mt-2">
        <div class="card">
          <div class="card-header  lg bold bg-color-violet text-uppercase">
            Work Information
            <a class="float-right bg-color-violet" data-toggle="modal" data-target="#modalWorkInfo"><i
              class="fa fa-pencil-square-o xxlg bg-color-violet"></i></a>
          </div>
          <div class="card-body"  *ngFor="let work of portfolio.workInfo">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-sm-3"><span class="xm lighter text-uppercase">Organisation</span></div>
                  <div class="col-sm-9"><span class=" xlg bold long-content text-right">{{ work.companyName }}</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-3"><span class="xm lighter text-uppercase">Designation</span></div>
                  <div class="col-sm-9"><span class="lg bold long-content text-right">{{work.role}}</span></div>
                </div>
                <div class="row">
                  <div class="col-sm-3"><span class="xm lighter text-uppercase ">Duration</span></div>
                  <div class="col-sm-9" *ngIf="!work.isCurrentCompany"><span class="lg bold long-content text-right" ><span [innerHTML]="formatDate(work.startDate)"></span> - <span [innerHTML]="formatDate(work.endDate)"></span></span></div>
                  <div class="col-sm-9" *ngIf="work.isCurrentCompany"><span class="lg bold long-content text-right" ><span [innerHTML]="formatDate(work.startDate)"></span> - Till date</span></div>       
                </div>              
              </div>
              <div class="col-md-6">
               
                <div class = "row">
                  <div class="col-sm-3"><span class="xm lighter text-uppercase">Experience</span></div>
                  <div class="col-sm-9"><span class="lg bold long-content text-right">{{work.experienceInYearMonth}} months</span></div>
                </div>
              </div>
              
            </div>
            
          </div>

      </div>
      <div id="Certification" class="mt-2">
        <div class="card">
          <div class="card-header  lg bold bg-color-violet text-uppercase">
            Certifications
            <a class="float-right bg-color-violet" data-toggle="modal" data-target="#modalCertifications"><i
              class="fa fa-pencil-square-o xxlg bg-color-violet"></i></a>
          </div>
          <div class="card-body"  *ngFor="let cert of portfolio.certifications">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-sm-3"><span class="xm lighter text-uppercase">Name</span></div>
                  <div class="col-sm-9"><span class=" xlg bold long-content text-right">{{ cert.certificationName}}</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-3"><span class="xm lighter text-uppercase">Cert ID</span></div>
                  <div class="col-sm-9"><span class="lg bold long-content text-right">{{cert.certificationId}}</span></div>
                </div>
				<div class="row">
                  <div class="col-sm-3"><span class="xm lighter text-uppercase">Issued by</span></div>
                  <div class="col-sm-9"><span class="lg bold long-content text-right">{{cert.issuedBy}}</span></div>
                </div>
                <div class="row">
                  <div class="col-sm-3"><span class="xm lighter text-uppercase ">Validity</span></div>
                  <div class="col-sm-9" *ngIf="!cert.isNoExpiry"><span class="lg bold long-content text-right" ><span [innerHTML]="formatDate(cert.validFrom)"></span> - <span [innerHTML]="formatDate(cert.validTill)"></span></span></div>
                  <div class="col-sm-9" *ngIf="cert.isNoExpiry"><span class="lg bold long-content text-right" ><span [innerHTML]="formatDate(cert.validFrom)"></span> - Till date</span></div>       
                </div>
				<div class="row">
                  <div class="col-sm-3"><span class="xm lighter text-uppercase">Addl Notes</span></div>
                  <div class="col-sm-9"><span class="lg bold long-content text-right">{{cert.additionalNotes}}</span></div>
                </div>
              </div>
              
              
            </div>
            
          </div>
      </div>
      <div id="Awards" class="mt-2"></div>
      <div id="Languages" class="mt-2"></div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalPersonalInfo" tabindex="-1" role="dialog" aria-labelledby="modalLabelPerosnalInfo"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabelPerosnalInfo">Personal Information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-portfolio-personal-info></app-portfolio-personal-info>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalSkills" tabindex="-1" role="dialog" aria-labelledby="modalLabelSkills"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabelSkills">Skills</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-portfolio-skills></app-portfolio-skills>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalWorkInfo" tabindex="-1" role="dialog" aria-labelledby="modalLabelWorkInfo"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabelWorkInfo">Work Info</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-portfolio-work-info></app-portfolio-work-info>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modalCertifications" tabindex="-1" role="dialog" aria-labelledby="modalLabelCertifications"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabelCertifications">Certifications</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-portfolio-certifications></app-portfolio-certifications>
      </div>
    </div>
  </div>
  </div>
</div>
